
@media (min-width: 960px) {
    .imgLogo {
        width: 140%;
        height: 120%;
    }
    .first_Main_Words {
        font-size: 250%;
    }
    .text-left{
        text-align: left;
    }
    .big{
        display: block;
    }
    .small{
        display: none;
    }
    .f_size{
        font-size:1.2rem;
    }
    .six✓ {
        font-size: 150% !important;
    }
    .whyWeBest {
        font-size: 280%;
    }
    .third_Main_Words {
        font-size: 300%;
    }
    .carousel_text{
        font-size: 90% !important;
        color: whitesmoke;
    }
    .fourth_Main_Words {
        font-size: 300%;
    }
    .picture_Name{
        font-size:1.7rem;
    }
    .pad-left2{
        padding-left: 2% !important;
    }
    .pad-top1 {
        padding-top: 1% !important;
    }

    .pad-top2 {
        padding-top: 2% !important;
    }

    .pad-top3 {
        padding-top: 3% !important;
    }

    .pad-top5 {
        padding-top: 5% !important;
    }

    .pad-top6 {
        padding-top: 6% !important;
    }

    .pad-top7 {
        padding-top: 7% !important;
    }

    .pad-top8 {
        padding-top: 8% !important;
    }

    .pad-top9 {
        padding-top: 9% !important;
    }

    .pad-top10 {
        padding-top: 10% !important;
    }

    .pad-top13 {
        padding-top: 13% !important;
    }

    .pad-top15 {
        padding-top: 15% !important;
    }

    .pad-top18 {
        padding-top: 18% !important;
    }

    .pad-right2 {
        padding-right: 2% !important;
    }

    .pad-right3 {
        padding-right: 3% !important;
    }

    .pad-right5 {
        padding-right: 5% !important;
    }
    .pad-left5 {
        padding-left: 5% !important;
    }

    .pad-left8 {
        padding-left: 8% !important;
    }

    .pad-left10 {
        padding-left: 10% !important;
    }

    .pad-left13 {
        padding-left: 13% !important;
    }

    .pad-left20 {
        padding-left: 20% !important;
    }
    .pad-bot2 {
        padding-bottom: 2% !important;
    }
    .pad-bot5 {
        padding-bottom: 5% !important;
    }
    .pad-bot10{
        padding-bottom: 10% !important;
    }
    .pad-bot30{
        padding-bottom: 30% !important;
    }
    .navbar{
        background-color: black;
        border-width: 2px !important;
        border-bottom: whitesmoke;
        border-style: solid;
    }
    .navbar-collapse{
        justify-content: flex-end;
    }
    .nav-link, .nav-brand{
        color:white !important;
        font-size: 1.2rem;
    }
    .nav-link:hover, .nav-brand:hover{
        color:black !important;
        background-color: white;
        border-radius: 5px;
        transition: 0.2s;
    }
    .to_Gallery{
        color: whitesmoke;
        font-size: 150%;
        margin-left: 12%;
        letter-spacing: 3px;
    }
    .to_Gallery:hover{
        color: lightgrey;
        font-size: 150%;
        transition: 0.2s;
        letter-spacing: 3px;
    }
    /*!* Important styles *!*/
    /*#toggle_big {*/
    /*    display: block;*/
    /*    width: 28px;*/
    /*    height: 30px;*/
    /*    margin: 30px auto 10px;*/
    /*}*/

    /*#toggle_big span:after,*/
    /*#toggle_big span:before {*/
    /*    content: "";*/
    /*    position: absolute;*/
    /*    left: 0;*/
    /*    top: -9px;*/
    /*}*/

    /*#toggle_big span:after {*/
    /*    top: 9px;*/
    /*}*/

    /*#toggle_big span {*/
    /*    position: relative;*/
    /*    display: block;*/
    /*}*/

    /*#toggle_big span,*/
    /*#toggle_big span:after,*/
    /*#toggle_big span:before {*/
    /*    width: 100%;*/
    /*    height: 5px;*/
    /*    background-color: whitesmoke;*/
    /*    transition: all 0.3s;*/
    /*    backface-visibility: hidden;*/
    /*    border-radius: 2px;*/
    /*}*/

    /*!* on activation *!*/
    /*#toggle_big.on span {*/
    /*    background-color: transparent;*/
    /*}*/

    /*#toggle_big.on span:before {*/
    /*    transform: rotate(45deg) translate(5px, 5px);*/
    /*}*/

    /*#toggle_big.on span:after {*/
    /*    transform: rotate(-45deg) translate(7px, -8px);*/
    /*}*/

    /*#toggle_big.on + #menu {*/
    /*    display: block;*/
    /*    opacity: 1;*/
    /*    transition: opacity 1s ease-in-out;*/
    /*    position: absolute;*/
    /*    margin-left: auto;*/
    /*    margin-right: auto;*/
    /*    left: 0;*/
    /*    right: 0;*/
    /*    z-index: 200;*/
    /*}*/

    /*!* menu appearance*!*/
    /*#menu {*/
    /*    !*position: relative;*!*/
    /*    color: #999;*/
    /*    width: 100%;*/
    /*    padding: 10px;*/
    /*    margin: auto;*/
    /*    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;*/
    /*    text-align: center;*/
    /*    border-radius: 4px;*/
    /*    background: whitesmoke;*/
    /*    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);*/
    /*    !* just for this demo *!*/
    /*    display: none;*/
    /*    transition: opacity 1s ease-out;*/
    /*    opacity: 0;*/

    /*}*/



    /*.ul-menu, .li-menu, .li-menu a {*/
    /*    list-style: none;*/
    /*    display: inline;*/
    /*    margin: 0;*/
    /*    padding: 0;*/
    /*}*/

    /*.li-menu a {*/
    /*    padding: 5px;*/
    /*    color: black;*/
    /*    text-decoration: none;*/
    /*    transition: all .2s;*/
    /*    border-radius: 5px;*/
    /*}*/

    /*.li-menu a:hover{*/
    /*    background-color:black !important;*/
    /*    color: whitesmoke;*/
    /*    border-radius: 5px;*/
    /*}*/
    /*.li-menu a:focus {*/
    /*    background-color:#2e3133;*/
    /*    color: whitesmoke;*/
    /*    border-radius: 5px;*/
    /*}*/
}

