

@media (min-width: 960px) {
    .card_MarginRg {
        padding-right: 25%;
    }
    .card_MarginLf {
        padding-left: 25%;
    }
    .margin_Left{
        margin-left:15rem;
    }
    .margin_Right{
        margin-right: 15rem;
    } 
}
@media (min-width: 960px),(max-width: 991px) {

    i{
        transition: 0.2s;
    }
    .social-icons-inst {
        padding: 0;
        list-style: none;
        margin: 10px;
    }
    .social-icons-inst div {
        display: inline-block;
        position: relative;
        font-size: 24px;
    }
    .social-icons-inst a {
        display: inline-block;
    }
    .social-icons-inst a:before {
        transform: scale(1);
        content: "";
        size:2rem;
        border-radius: 100%;
        display: block;
        background: linear-gradient(45deg, #517fa4, #2d6b9f);
        box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.2);
        transition: all 0.2s ease-out;
    }
    .social-icons-inst a:hover:before {
        transform: scale(0);
        transition: all 0.2s ease-in;
    }
    .social-icons-inst a:hover i,
    .social-icons-inst a:hover img {
        transform: scale(1.8);
        color: #5b8fb9;
        transition: all 0.2s ease-in;
    }

    
    .social-icons-mail {
        padding: 0;
        list-style: none;
        margin: 10px;
    }
    .social-icons-mail div {
        display: inline-block;
        position: relative;
        font-size: 24px;
    }
    .social-icons-mail a {
        display: inline-block;
    }
    .social-icons-mail a:before {
        transform: scale(1);
        content: "";
        size:2rem;
        border-radius: 100%;
        display: block;
        background: linear-gradient(45deg, #dd4b39, #2d6b9f);
        box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.2);
        transition: all 0.2s ease-out;
    }
    .social-icons-mail a:hover:before {
        transform: scale(0);
        transition: all 0.2s ease-in;
    }
    .social-icons-mail a:hover i,
    .social-icons-mail a:hover img {
        transform: scale(1.8);
        color: #dd4b39;
        transition: all 0.2s ease-in;
    }


    .social-icons-callto {
        padding: 0;
        list-style: none;
        margin: 10px;
    }
    .social-icons-callto div {
        display: inline-block;
        position: relative;
        font-size: 24px;
    }
    .social-icons-callto a {
        display: inline-block;
    }
    .social-icons-callto a:before {
        transform: scale(1);
        content: "";
        size:2rem;
        border-radius: 100%;
        display: block;
        background: linear-gradient(45deg, #a342ac, #E2AA00);
        box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.2);
        transition: all 0.2s ease-out;
    }
    .social-icons-callto a:hover:before {
        transform: scale(0);
        transition: all 0.2s ease-in;
    }
    .social-icons-callto a:hover i,
    .social-icons-callto a:hover img {
        transform: scale(1.8);
        color:#b13fbb;
        transition: all 0.2s ease-in;
    }


    .header_Left_Side {
        font-size: 2.3rem;
        margin-left: 1rem;
    }

    .header_Left_Side i{
        font-size: 2.5rem;
      }

    .imgLogo {
        width: 140%;
        height: 120%;
    }

    .first_Main_Words {
        font-size: 250%;
        letter-spacing: 1px;
    }

    .text-left{
        text-align: left;
    }

    .big{
        display: block;
    }

    .small{
        display: none;
    }
    .f_size{
        font-size:1.2rem;
    }
    .six✓ {
        font-size: 150% !important;
    }
    .whyWeBest {
        font-size: 280%;
    }
    .third_Main_Words {
        font-size: 300%;
    }
    .carousel_text{
        font-size: 90% !important;
        color: whitesmoke;
    }
    .fourth_Main_Words {
        font-size: 300%;
    }
    .picture_Name{
        font-size:1.7rem;
    }
    .pad-left2{
        padding-left: 2% !important;
    }
    .pad-top1 {
        padding-top: 1% !important;
    }

    .pad-top2 {
        padding-top: 2% !important;
    }

    .pad-top3 {
        padding-top: 3% !important;
    }

    .pad-top5 {
        padding-top: 5% !important;
    }

    .pad-top6 {
        padding-top: 6% !important;
    }

    .pad-top7 {
        padding-top: 7% !important;
    }

    .pad-top8 {
        padding-top: 8% !important;
    }

    .pad-top9 {
        padding-top: 9% !important;
    }

    .pad-top10 {
        padding-top: 10% !important;
    }

    .pad-top13 {
        padding-top: 13% !important;
    }

    .pad-top15 {
        padding-top: 15% !important;
    }

    .pad-top18 {
        padding-top: 18% !important;
    }

    .pad-right2 {
        padding-right: 2% !important;
    }

    .pad-right3 {
        padding-right: 3% !important;
    }

    .pad-right5 {
        padding-right: 5% !important;
    }
    .pad-left5 {
        padding-left: 5% !important;
    }

    .pad-left8 {
        padding-left: 8% !important;
    }

    .pad-left10 {
        padding-left: 10% !important;
    }

    .pad-left13 {
        padding-left: 13% !important;
    }

    .pad-left20 {
        padding-left: 20% !important;
    }
    .pad-bot2 {
        padding-bottom: 2% !important;
    }
    .pad-bot5 {
        padding-bottom: 5% !important;
    }
    .pad-bot10{
        padding-bottom: 10% !important;
    }
    .pad-bot30{
        padding-bottom: 30% !important;
    }
    .navbar{
        background-color: black;
        border-bottom:solid 2px rgba(255, 255, 255, 0.876)!important;
    }
    .navbar-collapse{
        justify-content: flex-end;
    }
    .nav-link, .nav-brand{
        color:whitesmoke !important;
        font-size: 1.3rem;
        border-radius: 0 0 1px 12px;

    }
    

    .btn-white{
        width: 20% !important;
        height: 110% !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        border-radius: 50px !important;
    }
    .to_Gallery{
        color: black;
        font-size: 150%;
        transition: 0.2s;
        font-weight: 500;
    }
    .to_Gallery:hover{
        color: #1d2124;
        font-size: 150%;
        transition: 0.2s;
        font-weight: 500;
    }
    .font_awes_size{
        font-size: 3.5rem;
    }
}

