body {
    background-color: whitesmoke;
    width: 100% !important;
    height: 100% !important;
    z-index: 1;
}
.wood_Inst {
    color: black;
}
.wood_Inst:hover {
    color: #1b1e21;
}
.wood_Gmail{
    color: black;
}
.wood_Gmail:hover{
    color: #1b1e21;
}

A:link {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}

A:visited {
    text-decoration: none;
}


/* .back_Icon_Inst{
    background-color: rgb(226, 226, 226);
    border-radius: 8px;
    height: 2.2rem;
}
.back_Icon_Mail{
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
    height: 2rem;
}
.back_Icon_Call{
    background-color: rgb(226, 226, 226);
    border-radius: 8px;
    height: 2.3rem; */
/* } */

.icon_style_inst{ 
    color: black;
    background-color: whitesmoke;
    border-radius: 8px;
    font-size: 2.2rem;
}

.icon_style_mail{ 
    color: black;
    background-color: whitesmoke;
    border-radius: 5px;
    font-size: 2rem;
}
.icon_style_callto{ 
    color: black;
    background-color: whitesmoke;
    border-radius: 5px;
    font-size: 2.3rem;
}

.icons{
    position: fixed;
    right:0px;
    z-index: 1;
}

/* .icon_Margin_Inst{
    margin-bottom:3.4rem;
}     */
/* .icon_Margin_Mail{
    margin-top:3.4rem;
}     */
.icon_Margin_Call{
    margin-top:3.5rem;
    margin-right:1.2rem;
} 










@media (min-width: 960px) {

    .icon_style_inst{ 
        color: black;
        background-color: whitesmoke;
        border-radius: 8px;
        font-size: 2.2rem;
    }
    
    .icon_style_mail{ 
        color: black;
        background-color: whitesmoke;
        border-radius: 5px;
        font-size: 2rem;
    }
    .icon_style_callto{ 
        color: black;
        background-color: whitesmoke;
        border-radius: 5px;
        font-size: 2.3rem;
    }
    
    .icons{
        position: fixed;
        right:0px;
        z-index: 1;
    }


    .container_header{
        width: 98%;
    }
    .btn-light {
        background-color: #e7e8ea;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        transition: 0.1s;
        margin-left: 1rem;
        margin-top: 1rem;
    }
    .btn-light:hover {
        transition: 0.1s;
        font-size: 105% !important;
        width: 3rem;
        height: 3rem;
    }
    .f_size {
        font-size: 1rem;
    }
    hr {
        border-top: 1px solid #1b1e21;
    }
    .main_Words {
        font-size: 250%;
        letter-spacing: 6px;
    }
    .type_photo {
        font-size: 190%;
        margin-left: 5rem;
    }

    .wrap {
        flex-wrap: wrap;
    }

    .img_cutted {
        width: 14%;
        height: 100%;
        margin-bottom: 0.5rem;
        border-radius: 2px;
        margin-right: 0.5rem;
        transition: 0.3s;
    }

    .img_cutted:hover {
        width: 14%;
        height: 100%;
        margin-bottom: 0.5rem;
        border-radius: 2px;
        margin-right: 0.5rem;
        border: 1px solid gray;
    }


    .shadow {
        transition: 0.4s;
    }

    .shadow:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: 0.2s;
    }
    .paddings{
        padding-left: 0px;
        padding-top: 1rem;
    }
    .mt-7 {
        margin-top: 7%;
    }



    i{
        transition: 0.2s;
    }
    .social-icons-inst {
        padding: 0;
        list-style: none;
        margin: 10px;
    }
    .social-icons-inst div {
        display: inline-block;
        position: relative;
        font-size: 24px;
    }
    .social-icons-inst a {
        display: inline-block;
    }
    .social-icons-inst a:before {
        transform: scale(1);
        content: "";
        size:2rem;
        border-radius: 100%;
        display: block;
        background: linear-gradient(45deg, #517fa4, #2d6b9f);
        box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.2);
        transition: all 0.2s ease-out;
    }
    .social-icons-inst a:hover:before {
        transform: scale(0);
        transition: all 0.2s ease-in;
    }
    .social-icons-inst a:hover i,
    .social-icons-inst a:hover img {
        transform: scale(1.8);
        color: #517fa4;
        transition: all 0.2s ease-in;
    }
    
    
    
    
    .social-icons-mail {
        padding: 0;
        list-style: none;
        margin: 10px;
    }
    .social-icons-mail div {
        display: inline-block;
        position: relative;
        font-size: 24px;
    }
    .social-icons-mail a {
        display: inline-block;
    }
    .social-icons-mail a:before {
        transform: scale(1);
        content: "";
        size:2rem;
        border-radius: 100%;
        display: block;
        background: linear-gradient(45deg, #dd4b39, #2d6b9f);
        box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.2);
        transition: all 0.2s ease-out;
    }
    .social-icons-mail a:hover:before {
        transform: scale(0);
        transition: all 0.2s ease-in;
    }
    .social-icons-mail a:hover i,
    .social-icons-mail a:hover img {
        transform: scale(1.8);
        color: #dd4b39;
        transition: all 0.2s ease-in;
    }
    
    
    
    .social-icons-callto {
        padding: 0;
        list-style: none;
        margin: 10px;
    }
    .social-icons-callto div {
        display: inline-block;
        position: relative;
        font-size: 24px;
    }
    .social-icons-callto a {
        display: inline-block;
    }
    .social-icons-callto a:before {
        transform: scale(1);
        content: "";
        size:2rem;
        border-radius: 100%;
        display: block;
        background: linear-gradient(45deg, #E2AA00, #2d6b9f);
        box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.2);
        transition: all 0.2s ease-out;
    }
    .social-icons-callto a:hover:before {
        transform: scale(0);
        transition: all 0.2s ease-in;
    }
    .social-icons-callto a:hover i,
    .social-icons-callto a:hover img {
        transform: scale(1.6);
        color: #E2AA00;
        transition: all 0.2s ease-in;
    }
}







@media (max-width: 959px) {


    i{
        transition: 0.2s;
    }
    .social-icons-inst {
        padding: 0;
        list-style: none;
        margin: 10px;
    }
    .social-icons-inst div {
        display: inline-block;
        position: relative;
        font-size: 24px;
    }
    .social-icons-inst a {
        display: inline-block;
    }
    .social-icons-inst a:before {
        transform: scale(1);
        content: "";
        size:2rem;
        border-radius: 100%;
        display: block;
        background: linear-gradient(45deg, #517fa4, #2d6b9f);
        box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.2);
        transition: all 0.2s ease-out;
    }
    .social-icons-inst a:hover:before {
        transform: scale(0);
        transition: all 0.2s ease-in;
    }
    .social-icons-inst a:hover i,
    .social-icons-inst a:hover img {
        transform: scale(1.6);
        color: #517fa4;
        transition: all 0.2s ease-in;
    }
    
    
    
    
    .social-icons-mail {
        padding: 0;
        list-style: none;
        margin: 10px;
    }
    .social-icons-mail div {
        display: inline-block;
        position: relative;
        font-size: 24px;
    }
    .social-icons-mail a {
        display: inline-block;
    }
    .social-icons-mail a:before {
        transform: scale(1);
        content: "";
        size:2rem;
        border-radius: 100%;
        display: block;
        background: linear-gradient(45deg, #dd4b39, #2d6b9f);
        box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.2);
        transition: all 0.2s ease-out;
    }
    .social-icons-mail a:hover:before {
        transform: scale(0);
        transition: all 0.2s ease-in;
    }
    .social-icons-mail a:hover i,
    .social-icons-mail a:hover img {
        transform: scale(1.6);
        color: #dd4b39;
        transition: all 0.2s ease-in;
    }
    
    
    
    .social-icons-callto {
        padding: 0;
        list-style: none;
        margin: 10px;
    }
    .social-icons-callto div {
        display: inline-block;
        position: relative;
        font-size: 24px;
    }
    .social-icons-callto a {
        display: inline-block;
    }
    .social-icons-callto a:before {
        transform: scale(1);
        content: "";
        size:2rem;
        border-radius: 100%;
        display: block;
        background: linear-gradient(45deg, #E2AA00, #2d6b9f);
        box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.2);
        transition: all 0.2s ease-out;
    }
    .social-icons-callto a:hover:before {
        transform: scale(0);
        transition: all 0.2s ease-in;
    }
    .social-icons-callto a:hover i,
    .social-icons-callto a:hover img {
        transform: scale(1.4);
        color: #E2AA00;
        transition: all 0.2s ease-in;
    }




    .container_header{
        width: 95%;
        overflow: hidden;
    }
    .btn-light {
        background-color: #e7e8ea;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        transition: 0.1s;
        margin-left: 1rem;
        margin-top: 1rem;
        font-size: 100% !important;
    }
    .btn-light:hover {
        transition: 0.1s;
        font-size: 110% !important;
    }
    .f_size {
        font-size: 1rem;
    }
    hr {
        border-top: 1px solid #1b1e21;
    }
    .mail_ru {
        font-size: 105%;
    }
    .main_Words {
        font-size: 250%;
        letter-spacing: 6px;
    }

    .type_photo {
        font-size: 150%;
        margin-left: 1rem;
    }

    .wrap {
        flex-wrap: wrap;
    }

    .img_cutted {
        width: 31%;
        height: 100%;
        margin-bottom: 0.5rem;
        border-radius: 2px;
        margin-right: 0.5rem;
        transition: 0.2s;
    }

    .img_cutted:hover {
        width: 31%;
        height: 100%;
        margin-bottom: 0.5rem;
        border-radius: 2px;
        margin-right: 0.5rem;
        border: 1px solid gray;
    }

    .shadow {
        transition: 0.4s;
    }

    .shadow:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: 0.2s;
    }
    .paddings{
        padding-left: 0px;
        padding-top: 1rem;
    }
    .mt-10 {
        margin-top: 10%;
    }


    .back_Icon_Inst{
        background-color: rgb(226, 226, 226);
        border-radius: 8px;
        height: 2.2rem;
    }
    .back_Icon_Mail{
        background-color: rgb(226, 226, 226);
        border-radius: 5px;
        height: 2rem;
    }
    .back_Icon_Call{
        background-color: rgb(226, 226, 226);
        border-radius: 8px;
        height: 2.3rem;
    }

    .icon_style_inst{ 
        color: black;
        border-radius: 50%;
        font-size: 2.2rem;
    }
    .icon_style_inst:hover{ 
        background-color: whitesmoke;
        border-radius: 8px;
        height: 2.2rem;
    }
    .icon_style_mail{ 
        color: black;
        border-radius: 50%;
        font-size: 2rem;
    }
    .icon_style_mail:hover{ 
        background-color: whitesmoke;
        border-radius: 5px;
        height: 2rem;
    }
    .icon_style_callto{ 
        color: black;
        border-radius: 50%;
        font-size: 2.3rem;
    }
    .icon_style_callto:hover{ 
        background-color:whitesmoke;
        size: 4rem;
    }



    
    .icon_Margin_Call{
        margin-top:3.5rem;
        margin-right:1.2rem;
    }    
    

}
