body {
    background-color: whitesmoke;
    width: 100% !important;
    height: 100% !important;
}
.mail_ru {
    font-size: 115%;
}

.wood_Inst {
    color: black;
}
.wood_Inst:hover {
    color: #1b1e21;
}
.wood_Gmail{
    color: black;
}
.wood_Gmail:hover{
    color: #1b1e21;
}

A:link {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}

A:visited {
    text-decoration: none;
}

@media (min-width: 960px) {
    .container_header{
        width: 98%;
    }
    .btn-light {
        background-color: #ececec;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        transition: 0.1s;
        margin-left: 5px;
        margin-top: 5px;
    }
    .btn-light:hover {
        transition: 0.1s;
        font-size: 110% !important;
    }
    .f_size {
        font-size: 1rem;
    }
    hr {
        border-top: 1px solid #1b1e21;
    }

    .main_Words {
        font-size: 250%;
        letter-spacing: 6px;
    }

    .type_photo {
        font-size: 190%;
        margin-left: 5rem;
    }

    .wrap {
        flex-wrap: wrap;
    }

    .img_cutted {
        width: 14%;
        height: 100%;
        margin-bottom: 0.5rem;
        border-radius: 2px;
        margin-right: 0.5rem;
        transition: 0.3s;
    }

    .img_cutted:hover {
        width: 14%;
        height: 100%;
        margin-bottom: 0.5rem;
        border-radius: 2px;
        margin-right: 0.5rem;
        border: 1px solid gray;
    }

    .shadow {
        transition: 0.4s;
    }

    .shadow:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: 0.2s;
    }

    .mt-7 {
        margin-top: 7%;
    }
}

@media (max-width: 959px) {
    .container_header{
        width: 95%;
        overflow: hidden;
    }
    .btn-light {
        background-color: #ececec;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        transition: 0.1s;
        margin-left: 3px;
        margin-top: 3px;
        font-size: 100% !important;
    }

    .btn-light:hover {
        transition: 0.1s;
        font-size: 110% !important;
    }
    .f_size {
        font-size: 1rem;
    }
    hr {
        border-top: 1px solid #1b1e21;
    }

    .main_Words {
        font-size: 250%;
        letter-spacing: 6px;
    }

    .type_photo {
        font-size: 150%;
        margin-left: 1rem;
    }

    .wrap {
        flex-wrap: wrap;
    }

    .img_cutted {
        width: 31%;
        height: 100%;
        margin-bottom: 0.5rem;
        border-radius: 2px;
        margin-right: 0.5rem;
        transition: 0.2s;
    }

    .img_cutted:hover {
        width: 31%;
        height: 100%;
        margin-bottom: 0.5rem;
        border-radius: 2px;
        margin-right: 0.5rem;
        border: 1px solid gray;
    }

    .shadow {
        transition: 0.4s;
    }

    .shadow:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: 0.2s;
    }

    .mt-10 {
        margin-top: 10%;
    }
}
