html {
  scroll-behavior: smooth;
}
.btn,
.btn-white,
.btn-outline-white {
  transition: 0.4s;
}
.btn-white:hover,
.btn-outline-white:hover {
  box-shadow: 0 0 20px #be26cc;
  transition: 0.2s;
}
.overflow {
  overflow: hidden;
}

.First_Part {
  color: whitesmoke;
  padding-top: 3%;
}

.nav_border_color1{
  transition: 0.2s;
  color:whitesmoke;
  border-bottom:solid 2px black;
}
.nav_border_color2{
  transition: 0.2s;
  color:whitesmoke;
  border-bottom:solid 2px black;
}
.nav_border_color3{
  transition: 0.2s;
  color:whitesmoke;
  border-bottom:solid 2px black;
}
.nav_border_color4{
  transition: 0.2s;
  color:whitesmoke;
  border-bottom:solid 2px black;
}

.nav_border_color1:hover{
  border-bottom:solid 2px #E2AA00;
  transition: 0.2s;
  
}
.nav_border_color2:hover{
  border-bottom:solid 2px #dd4b39;
  transition: 0.2s;
}
.nav_border_color3:hover{
  border-bottom:solid 2px#517fa4;
  transition: 0.2s;
}
.nav_border_color4:hover{
  border-bottom:solid 2px#9d51a4;
  transition: 0.2s;
}
.nav_border_color5:hover{
  border-bottom:solid 2px#51a492;
  transition: 0.2s;
}

/* .margin_Left{
  margin-left:15rem;
}
.margin_Right{
  margin-right: 15rem;
} */

.first_Part_Border_Top{
  border-top: solid 2px#517fa4;
  border-radius: 12px 1px 0 0;
}

.first_Part_Border_Bot{
  border-bottom: solid 2px #9d51a4;
  border-radius: 0 0 12px 1px;
}

.icon_style_inst{
  color: #5788b1;
}

.icon_style_mail{
  color:#dd4c39e3;
}

.icon_style_call{
  color: #9d51a4;
}

.header {
  color: whitesmoke;
}

.header_Right_Side {
  font-size: 150%;
}

.bg-color {
  background-size: 100%;
  background-color: black;
}

.first_Part_Logo {
  width: 130% !important;
  height: 130% !important;
}

/*Second_Part*/
.Second_Part {
  color: black;
  padding-top: 3%;
  background-color: whitesmoke;
  overflow: hidden;
}

.Second_Part_Decor {
  height: 300px !important;
}

.Third_Part {
  background-color: black;
  color: whitesmoke;
  padding-top: 3%;
  background-size: 100%;
}

.Fourth_Part {
  color: black;
  padding-top: 3%;
  background-color: whitesmoke;
  overflow: hidden;
}

.modal_Text {
  font-size: 21px;
  font-weight: 400;
}

.color {
  color: black;
}

.container {
  max-width: 100% !important;
}

/*сarousel*/
.description {
  font-size: 20px;
}

.carousel_Radius {
  border-radius: 5px;
}

.down {
  color: white !important;
  font-size: 16px !important;
  transition: 0.2s;
}

A:link {
  text-decoration: none; /* Убирает подчеркивание для ссылок */
}

A:visited {
  text-decoration: none;
}
.font_awes_size {
  font-size: 3.5rem;
}

.icon_style_card1{
  color:#517fa4;
}

.icon_style_card2{
  color:#dd4b39;
}

.icon_style_card3{
  color: #e2a900a4;
}

.icon_style_card4{
  color: #9d51a4;
}

.card {
  width: 50% !important;
  background-color:white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
  border-radius: 25px !important;
}
.carousel {
  box-shadow: -50px 0 40px  rgba(0, 0, 0, 1) !important;
}


