html {
    scroll-behavior: smooth;
}

.overflow {
    overflow: hidden;
}

.First_Part {
    color: whitesmoke;
    padding-top: 3%;
}

.header {
    color: whitesmoke;
}

.header_Left_Side {
    font-size: 130%;
}

.mail_ru {
    font-size: 115%;
}

.header_Right_Side {
    font-size: 150%;
}

.callto {
    color: whitesmoke;
}

.callto:hover {
    opacity: 0.9;
    color: whitesmoke;
}

.wood_Gmail {
    color: whitesmoke;
}

.header_Left_Side {
    color: whitesmoke;
    font-size: 2rem;
}

.wood_Gmail:hover {
    opacity: 0.9;
    color: whitesmoke;
}

.wood_Inst {
    color: whitesmoke;
}

.wood_Inst:hover {
    opacity: 0.9;
    color: whitesmoke;
}

.bg-color {
    background-size: 100%;
    background-color: black;
}

.first_Part_Logo {
    width: 130% !important;
    height: 130% !important;
}

/*Second_Part*/
.Second_Part {
    color: black;
    padding-top: 3%;
    background-color: whitesmoke;
    overflow: hidden;
}

.Second_Part_Decor {
    height: 300px !important;
}

.Third_Part {
    background-color: black;
    color: whitesmoke;
    padding-top: 3%;
    background-size: 100%;
}

.Fourth_Part {
    color: black;
    padding-top: 3%;
    background-color: whitesmoke;
    overflow: hidden;
}

.modal_Text {
    font-size: 21px;
    font-weight: 400;
}

.color {
    color: black;
}

.container {
    max-width: 100% !important;
}

/*сarousel*/
.description {
    font-size: 20px;
}

.carousel_Radius {
    border-radius: 5px;
}

.down {
    color: white !important;
    font-size: 16px !important;
    transition: 0.2s;
}

A:link {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}

A:visited {
    text-decoration: none;
}

A:active {
    text-decoration: none;
    color: whitesmoke;
}

A:hover {
    transition: 0.2s;
}

.down_Second {
    color: black;
    transition: 0.2s;
    font-size: 16px !important;
}

.down_Second:hover {
    opacity: 0.7;
    transition: 0.2s;
    color: black;
}

/* Important styles */
#toggle_big {
    display: block;
    width: 28px;
    height: 30px;
    margin: 30px auto 10px;
}

#toggle_big span:after,
#toggle_big span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}

#toggle_big span:after {
    top: 9px;
}

#toggle_big span {
    position: relative;
    display: block;
}

#toggle_big span,
#toggle_big span:after,
#toggle_big span:before {
    width: 100%;
    height: 5px;
    background-color: whitesmoke;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}

/* on activation */
#toggle_big.on span {
    background-color: transparent;
}

#toggle_big.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
}

#toggle_big.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
}

#toggle_big.on + #menu {
    display: block;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 200;
}

/* menu appearance*/
#menu {
    /*position: relative;*/
    color: #999;
    width: 35%;
    padding: 10px;
    margin: auto;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    text-align: center;
    border-radius: 4px;
    background: whitesmoke;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
    /* just for this demo */
    display: none;
    transition: opacity 1s ease-out;
    opacity: 0;

}



.ul-menu, .li-menu, .li-menu a {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.li-menu a {
    padding: 5px;
    color: black;
    text-decoration: none;
    transition: all .2s;
    border-radius: 5px;
}

.li-menu a:hover{
    background-color:black !important;
    color: whitesmoke;
    border-radius: 5px;
}
.li-menu a:focus {
    background-color:#2e3133;
    color: whitesmoke;
    border-radius: 5px;
}


/* demo styles */
/*body {*/
/*    margin-top: 3em;*/
/*    background: #eee;*/
/*    color: #555;*/
/*    font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif;*/
/*}*/

p, p a {
    font-size: 12px;
    text-align: center;
    color: #888;
}
