
@media (max-width: 959px) {


    .social-icons-inst {
        padding: 0;
        list-style: none;
        margin: 10px;
    }
    .social-icons-inst div {
        display: inline-block;
        position: relative;
        font-size: 24px;
    }
    .social-icons-inst a {
        display: inline-block;
    }
    .social-icons-inst a:before {
        transform: scale(1);
        content: "";
        size:2rem;
        border-radius: 100%;
        display: block;
        background: linear-gradient(45deg, #517fa4, #2d6b9f);
        box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.2);
        transition: all 0.2s ease-out;
    }
    .social-icons-inst a:hover:before {
        transform: scale(0);
        transition: all 0.2s ease-in;
    }
    .social-icons-inst a:hover i,
    .social-icons-inst a:hover img {
        transform: scale(1.8);
        color: #517fa4;
        transition: all 0.2s ease-in;
    }

    
    .social-icons-mail {
        padding: 0;
        list-style: none;
        margin: 10px;
    }
    .social-icons-mail div {
        display: inline-block;
        position: relative;
        font-size: 24px;
    }
    .social-icons-mail a {
        display: inline-block;
    }
    .social-icons-mail a:before {
        transform: scale(1);
        content: "";
        size:2rem;
        border-radius: 100%;
        display: block;
        background: linear-gradient(45deg, #dd4b39, #2d6b9f);
        box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.2);
        transition: all 0.2s ease-out;
    }
    .social-icons-mail a:hover:before {
        transform: scale(0);
        transition: all 0.2s ease-in;
    }
    .social-icons-mail a:hover i,
    .social-icons-mail a:hover img {
        transform: scale(1.8);
        color: #dd4b39;
        transition: all 0.2s ease-in;
    }


    .social-icons-callto {
        padding: 0;
        list-style: none;
        margin: 10px;
    }
    .social-icons-callto div {
        display: inline-block;
        position: relative;
        font-size: 24px;
    }
    .social-icons-callto a {
        display: inline-block;
    }
    .social-icons-callto a:before {
        transform: scale(1);
        content: "";
        size:2rem;
        border-radius: 100%;
        display: block;
        background: linear-gradient(45deg, #a342ac, #2d6b9f);
        box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.2);
        transition: all 0.2s ease-out;
    }
    .social-icons-callto a:hover:before {
        transform: scale(0);
        transition: all 0.2s ease-in;
    }
    .social-icons-callto a:hover i,
    .social-icons-callto a:hover img {
        transform: scale(1.8);
        color: #a342ac;
        transition: all 0.2s ease-in;
    }


    .header_Left_Side {
        font-size: 130%;
    }

    .imgLogo {
        width: 100%;
        height: 100%;
    }

    .head_First {
        order: 1;
    }

    .header_Left_Side {
        font-size: 2.3rem;
        color: white;
    }

    .woodLogo {
        justify-content: center;
    }

    .head_Second {
        order: 3;
        padding-bottom: 10%;
    }

    .big {
        display: none;
    }

    .small {
        display: block;
    }

    .first_Main_Words {
        font-size: 190%;
    }



    .head_Third {
        order: 2;
    }

    .mail_ru {
        display: flex;
        justify-content: center;
    }

    .f_size {
        font-size: 1rem;
    }

    .whyWeBest {
        font-size: 230%;
    }


    .whyWeBest {
        font-size: 230%;
    }

    .six✓ {
        font-size: 130%;
    }

    .third_Main_Words {
        font-size: 230%;
    }

    .carousel_Coment_pt{
        padding-top: 3%;
    }

    .carousel_text {
        font-size: 90%;
        color: whitesmoke;
    }

    .fourth_Main_Words {
        font-size: 230%;
    }

    .center_Words {
        font-size: 230%;
    }

    .pad-top1 {
        padding-top: 1%;
    }

    .pad-top2 {
        padding-top: 2%;
    }

    .pad-top7 {
        padding-top: 7%;
    }

    .pad-top3proc {
        padding-top: 3%;
    }

    .pad-top8 {
        padding-top: 8%;
    }

    .pad-top9 {
        padding-top: 9%;
    }

    .pad-top10 {
        padding-top: 10% !important;
    }

    .pad-top14 {
        padding-top: 14% !important;
    }

    .pad-top6 {
        padding-top: 13% !important;
    }

    .pad-top5 {
        padding-top: 10% !important;
    }

    .pad-top3 {
        padding-top: 5% !important;
    }

    .pad-top20 {
        padding-top: 20% !important;
    }

    .pad-bot5 {
        padding-bottom: 15% !important;
    }
    .pad-bot10{
        padding-bottom: 10% !important;
    }
    .pad-bot25{
        padding-bottom: 25% !important;
    }
    .center_Words {
        font-size: 200% !important;
    }

    .down {
        font-size: 14px !important;
    }

    .down_Second {
        font-size: 14px !important;
    }

    .pad-left1 {
        padding-left: 15% !important;
    }
    button:focus{
        outline: 5px auto whitesmoke;
    }
    .fa-bars::before{
        color:whitesmoke ;
    }
    .navbar {
        background-color: black;
        border-bottom:solid 2px rgba(255, 255, 255, 0.876)!important;
    }

    .navbar-collapse {
        justify-content: flex-end;
    }

    .nav-link, .nav-brand {
        color: white !important;
        font-size: 1.1rem;
        border-radius: 0 0 1px 12px !important;
        padding-left: 3% !important;
    }
    .btn-white{
        width: 70% !important;
        height: 100% !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        border-radius: 50px !important;
    }
    .to_Gallery{
        color: black;
        font-size: 150%;
        transition: 0.2s;
        font-weight: 500;
    }
    .to_Gallery:hover{
        color: #1d2124;
        font-size: 150%;
        transition: 0.2s;
        font-weight: 500;
    }
    .card{
        border-radius: 5px;
        width: 80% !important;
    }
    .card-body{
        font-size: 1em;
    }
    .font_awes_size{
        font-size: 2.5rem;
    }
}

@media (max-width: 576px){
    .first_Main_Words {
        font-size: 140%;
    }
    .whyWeBest {
        font-size: 140%;
    }

    .card-body{
        font-size: 0.8em;
    }

    .third_Main_Words {
        font-size: 140%;
    }
}




