.First_Part {
    color: whitesmoke;
    padding-top: 3%;
}

header {
    color: whitesmoke;
}


@media (min-width: 960px) {
    .imgLogo {
        width: 140%;
        height: 120%;
    }
}

@media (max-width: 959px) {
    .imgLogo {
        max-width: 100%;
        height: auto;
    }

    .head_First {
        order: 1;
    }

    .head_Second {
        order: 3;
    }

    .head_Third {
        order: 2;
    }
}

.header_Left_Side {
    font-size: 130%;
}

.mail_ru {
    font-size: 115%;
}

.header_Right_Side {
    font-size: 150%;
}
.callto {
    color:whitesmoke;
}
.callto:hover{
    opacity: 0.8;
    color:whitesmoke;
}
.bg-color {
    background-size: 100%;
    background-color: black;

}

.center_Words {
    font-size: 250%;
}

.first_Part_Logo {
    width: 130% !important;
    height: 130% !important;
}

/*Second_Part*/
.Second_Part {
    color: black;
    padding-top: 3%;
    background-color: whitesmoke;
    overflow: hidden;
}

.Second_Part_Decor {
    height: 300px !important;
}

.Third_Part {
    background-color: black;
    color: whitesmoke;
    padding-top: 3%;
    background-size: 100%;
}

.third_Main_Words {
    font-size: 230%;

}

.modal_Text {
    font-size: 21px;
    font-weight: 400;
}

.color {
    color: black;
}

.container {
    max-width: 100% !important;
}

.pad-top1 {
    padding-top: 1% !important;
}

.pad-top2 {
    padding-top: 2% !important;
}

.pad-top3 {
    padding-top: 3% !important;
}

.pad-top5 {
    padding-top: 5% !important;
}

.pad-top6 {
    padding-top: 6% !important;
}

.pad-top7 {
    padding-top: 7% !important;
}

.pad-top8 {
    padding-top: 8% !important;
}

.pad-top9 {
    padding-top: 9% !important;
}

.pad-top10 {
    padding-top: 10% !important;
}

.pad-top13 {
    padding-top: 13% !important;
}

.pad-top15 {
    padding-top: 15% !important;
}

.pad-top18 {
    padding-top: 18% !important;
}

.pad-right2 {
    padding-right: 2% !important;
}

.pad-right3 {
    padding-right: 3% !important;
}

.pad-right5 {
    padding-right: 5% !important;
}

.pad-left2 {
    padding-left: 2% !important;
}

.pad-left5 {
    padding-left: 5% !important;
}

.pad-left8 {
    padding-left: 8% !important;
}

.pad-left10 {
    padding-left: 10% !important;
}

.pad-left13 {
    padding-left: 13% !important;
}

.pad-left20 {
    padding-left: 20% !important;
}

.pad-bot3 {
    padding-bottom: 3% !important;
}

.whyWeBest {
    font-size: 230%;
}

.six✓ {
    font-size: 150%;
}

/*сarousel*/
.description {
    font-size: 20px;
}

.carousel_Radius {
    border-radius: 5px;
}

.down {
    color: white !important;
    font-size: 16px !important;
    transition: 0.2s;
}

A:link {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}

A:visited {
    text-decoration: none;
}

A:active {
    text-decoration: none;
    color:whitesmoke;
}

A:hover {
    opacity: 0.7;
    transition: 0.2s;
}

.down_Second {
    color: black;
    transition: 0.2s;
    font-size: 16px !important;
}

.down_Second:hover {
    opacity: 0.7;
    transition: 0.2s;
    color: black;
}
