.First_Part {
       color: whitesmoke;
       padding-top:3%;
}
.bg-img{
  /*background-image: url(https://www.formula1.com/content/dam/fom-website/sutton/2020/Testing/BarcelonaTestTwo/DayThree/1209233632.jpg);*/
  background-size: 100%;
    background-color: black;
}
.First_Part_Decor {
    background-color: whitesmoke;
    height: 180px !important;
}
.center_Words{
    font-size: 300%;
}
.Second_Part {
    color: black;
    padding-top:3%;
}
.Second_Part_Decor{
    height: 300px !important;
}
header{
  color: whitesmoke;
}
.header_Left_Side{
    font-size: 130%;
}
.mail_ru{
    font-size: 115%;
}
.header_Right_Side{
    font-size: 150%;
}

.color {
  color: black;
}
.container {
  max-width: 100% !important;
}
.pad-top1 {
  padding-top: 1% !important;
}
.pad-top2 {
  padding-top: 2% !important;
}
.pad-top3 {
  padding-top: 3% !important;
}
.pad-top5 {
  padding-top: 5% !important;
}
.pad-top6 {
  padding-top: 6% !important;
}
.pad-top7 {
  padding-top: 7% !important;
}
.pad-top8 {
  padding-top: 8% !important;
}
.pad-top9{
    padding-top: 9% !important;
}
.pad-top10 {
    padding-top: 10% !important;
}
.pad-right2 {
  padding-right: 2% !important;
}
.pad-right3 {
  padding-right: 3% !important;
}
.pad-left2 {
  padding-left: 2% !important;
}
.pad-left10 {
    padding-left: 10% !important;
}
.pad-left13 {
    padding-left: 13% !important;
}
.pad-left20 {
    padding-left: 20% !important;
}
.pad-bot3 {
  padding-bottom: 3% !important;
}
.whyWeBest {
  font-size: 300%;
}
.six✓ {
  font-size: 160%;
}
/*Second_Part*/
.Second_Part{
    background-color: whitesmoke;
}
/* Якорь */
p {
  font-size: 14px !important;
}
.down {
  color: white !important;
  transition: 0.2s;
}
A:link {
  text-decoration: none; /* Убирает подчеркивание для ссылок */
}
A:visited {
  text-decoration: none;
}
A:active {
  text-decoration: none;
}
A:hover {
  opacity: 0.7;
  transition: 0.2s;
}
.down_Second{
    color:black ;
    transition: 0.2s;
}

